@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
* {
	padding: 0;
	margin: 0;
}
:root {
	/* primary */
	--very-Dark-Magenta: hsl(300, 43%, 22%);
	--soft-Pink: hsl(333, 80%, 67%);
	/* Neutral */
	--dark-Grayish-Magenta: hsl(303, 10%, 53%);
	--light-Grayish-Magenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);
}
body {
	font-family: 'Spartan', sans-serif;
	font-size: 15px;
	height: 100vh;
	background-image: url('./images/bg-pattern-bottom-desktop.svg'),
		url('./images/bg-pattern-top-desktop.svg');
	background-repeat: no-repeat;
	background-size: 70%, 40%;
	background-position: 100% 100%, 0% 0%;
}
.canvas {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}
.father-Container {
	width: 80%;
	height: 70vh;
}
.father-Container .container {
	display: flex;
}
.father-Container .container .box {
	width: 45%;
}
.father-Container .container .box h1 {
	font-size: 40px;
	font-weight: 700;
	color: var(--very-Dark-Magenta);
	padding-right: 30%;
}
.father-Container .container .box p {
	padding-right: 28%;
	margin-top: 1vh;
	font-weight: 400;
	color: var(--very-Dark-Magenta);
}
.father-Container .container .box2 {
	width: 55%;
	font-size: 8px;
}
.father-Container .container .box2 .ratedBox {
	border-radius: 10px;
	display: flex;
	margin: 17px;
	width: 65%;
	padding: 3vh 30px;
	margin-right: -20px;
	background: var(--light-Grayish-Magenta);
}
.father-Container .container .box2 .ratedBox img {
	padding: 0px 2px;
}
.father-Container .container .box2 .ratedBox h2 {
	font-size: 15px;
	font-weight: 700;
	margin-left: 7%;
}
.father-Container .container .box2 .Two {
	margin-left: 12%;
}
.father-Container .container .box2 .Three {
	margin-left: 20%;
}
.father-Container .container .card {
	border-radius: 5px;
	color: var(--white);
	font-size: 11px;
	height: 23vh;
	background: var(--very-Dark-Magenta);
	padding: 3%;
	display: flex;
	flex-wrap: wrap;
}
.father-Container .container .two {
	margin: 0% 3%;
	margin-top: 3vh;
}
.father-Container .container .three {
	margin-top: 6vh;
}
.father-Container .container .card img {
	height: 40px;
	border-radius: 50%;
}
.father-Container .container .card .name {
	font-weight: 400;
	letter-spacing: 1px;
	margin-left: 10%;
}
.father-Container .container .card .name span {
	color: var(--dark-Grayish-Magenta);
}
.father-Container .container .card p {
	font-weight: 400;
	font-size: 13px;
	line-height: 1.6;
	margin-top: 20px;
}
.attribution {
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
	text-decoration: none;
}
/* media queries */
@media only screen and (max-width: 375px) {
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	body {
		background-image: url('./images/bg-pattern-bottom-mobile.svg'),
			url('./images/bg-pattern-top-mobile.svg');
		background-size: 100%, 100%;
	}
	.canvas {
		height: auto;
	}
	.father-Container {
		width: 85%;
	}
	.father-Container .container {
		display: block;
	}
	.father-Container .container .box {
		width: 100%;
	}
	.father-Container .container .box h1 {
		margin-top: 10vh;
		text-align: center;
		font-size: 30px;
		padding: 0%;
	}
	.father-Container .container .box p {
		width: 100%;
		padding: 0%;
		text-align: center;
		font-size: 14px;
		line-height: 3vh;
		margin-top: 2vh;
	}
	.father-Container .container .box2 {
		width: 100%;
		margin-top: 5vh;
	}
	.father-Container .container .box2 .ratedBox {
		width: 100%;
		display: block;
		margin: 0%;
	}
	.father-Container .container .box2 .ratedBox .star {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.father-Container .container .box2 .ratedBox h2 {
		text-align: center;
		padding-top: 1vh;
		font-size: 14px;
		margin: 0%;
		font-weight: 700;
	}
	.father-Container .container .box2 .Two {
		margin: 2vh 0%;
	}
	.father-Container .container .card {
		width: 100%;
		margin-top: 6vh;
		padding: 10%;
		height: 30vh;
	}
	.father-Container .container .two {
		margin: 2vh 0%;
	}
	.father-Container .container .three {
		margin-bottom: 4vh;
		margin-top: 0;
	}
	.attribution {
		display: none;
	}
}
