@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
* {
	padding: 0;
	margin: 0;
}
:root {
	/* primary */
	--very-Dark-Magenta: hsl(300, 43%, 22%);
	--soft-Pink: hsl(333, 80%, 67%);
	/* Neutral */
	--dark-Grayish-Magenta: hsl(303, 10%, 53%);
	--light-Grayish-Magenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);
}
body {
	font-family: 'Spartan', sans-serif;
	font-size: 15px;
	height: 100vh;
	background-image: url('./images/bg-pattern-bottom-desktop.svg'),
		url('./images/bg-pattern-top-desktop.svg');
	background-repeat: no-repeat;
	background-size: 70%, 40%;
	background-position: 100% 100%, 0% 0%;
}
.canvas {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}
.father-Container {
	width: 70%;
	height: 70vh;
}
.father-Container .container {
	display: flex;
}
.father-Container .container .box {
	width: 50%;
	border: 2px solid black;
}
.father-Container .container .box h1 {
	font-size: 50px;
	font-weight: 700;
	color: var(--very-Dark-Magenta);
	padding-right: 30%;
}
.father-Container .container .box p {
	margin-bottom: 3rem;
	padding-right: 28%;
	margin-top: 1vh;
	line-height: 2.2vh;
	font-weight: 400;
	color: var(--very-Dark-Magenta);
}
.father-Container .container .box .ratedBox {
	border-radius: 10px;
	display: flex;
	margin: 17px;
	width: 60%;
	padding: 2vh 30px;
	margin-right: -20px;
	background: var(--dark-Grayish-Magenta);
}
.father-Container .container .box .ratedBox img {
	padding: 0px 2px;
}
.father-Container .container .box .ratedBox h2 {
	font-size: 15px;
	font-weight: 700;
	margin-left: 7%;
}
.father-Container .container .box .Two {
	margin-left: 12%;
}
.father-Container .container .box .Three {
	margin-left: 20%;
}
.father-Container .container .box .ratedBox h2 {
	font-size: 15px;
	font-weight: 700;
	margin-left: 7%;
}
.father-Container .container .card {
	/* width: 50%; */
	align-self: flex-end;
	border: 2px solid black;
}
.attribution {
	top: 98px;
	text-align: center;
	height: 2vh;
	background: var(--soft-Pink);
}
.attribution a {
	color: hsl(228, 45%, 44%);
	text-decoration: none;
}
